<div {{bind-attr class="labelColSize :columns"}}>
  <label {{bind-attr for=name}} class="right inline">{{label}}</label>
</div>
<div {{bind-attr class="inputColSize :columns"}}>
  {{input value=content id=name}}
</div>
