<div class="m-container-box">
  <h4>
    Perustiedot <small>kerro tilastasi</small>
  </h4>
  {{v-input labelCol=3 inputCol=9 label="Tilan nimi" name="title" content=title}}
  {{v-input labelCol=3 inputCol=9 label="Myyntipuhe" name="pitch" content=pitch}}
  <div class="row">
    <div class="small-12 columns">
      <label for="description">Kuvaus</label>
      {{textarea value=description id="description" rows="6"}}
    </div>
  </div>
</div>

<div class="m-container-box">
  <h4>
    Yhteystiedot <small>yhteydenottoja varten</small>
  </h4>
  {{v-input labelCol=3 inputCol=9 label="Osoite" name="address" content=address}}
  {{v-input labelCol=3 inputCol=9 label="Postinumero" name="zipcode" content=zipcode}}
  {{v-input labelCol=3 inputCol=9 label="Email" name="email" content=contactEmail}}
  {{v-input labelCol=3 inputCol=9 label="Puhelin" name="phone" content=contactPhone}}
</div>

<div class="row">
  <div class="medium-12 columns">
    <button id="save" {{action 'save'}} class="success">Tallenna</button>
    {{#if this.id}}
      <button id="destroy" {{action 'destroy'}}>Poista kohde</button>
    {{/if}}
  </div>
</div>
