<div class="m-container-box">
  <h4>Kohde <small>jossa tilasi sijaitsee</small></h4>

  <div class="row">
    {{#if venueGroup.isDirty}}
      <div class="small-12 columns">
        <p>Täytä nämä tiedot niin luomme kohteen sinulle.</p>
        {{render "VenueGroup._form" venueGroup}}
        <button {{action "cancelNewVenueGroup"}}>Peruuta</button>
      </div>
    {{else}}
      <div class="small-2 columns">
        <label for="venue-group" class="right inline">Valitse kohde</label>
      </div>
      <div class="small-6 columns">
        {{#if allVenueGroups.isFulfilled}}
          {{view Ember.Select
            content=allVenueGroups
            optionValuePath="content.id"
            optionLabelPath="content.name"
            selection=venueGroup
            prompt="Valitse tilan kohde"
            id="venue-group"
          }}
        {{/if}}
      </div>
      <div class="small-1 columns centered"><span class="inline">tai</span></div>
      <div class="small-3 columns left">
        <button {{action "createVenueGroup"}}>Luo uusi kohde</button>
      </div>
    {{/if}}
  </div>
</div>

<div class="m-container-box">
  <h4>Perustiedot <small>kerro tilastasi</small></h4>
  <div class="row collapse">
    {{v-input label="Tilan nimi" name="title" content=title}}
    {{v-input label="Myyntipuhe" name="pitch" content=pitch}}
    {{v-textarea label="Kuvaus" name="description" content=description rows=5}}
  </div>

  <h5>Yhteystiedot <small>tilaa koskevia yhteydenottoja varten</small></h5>
  <div class="row collapse">
    {{v-input width=7 cols="3:1:8:0" label="Osoite" name="address" content=address prefix='<i class="fa fa-home" ></i>'}}
    {{v-input width=5 cols="5:7" label="Postinumero" name="zipcode"
      content=zipcode}}
    {{v-input width=7 cols="3:1:8:0" label="Email" name="email"
      content=contactEmail prefix='<i class="fa fa-inbox" ></i>'}}
    {{v-input width=5 cols="5:1:6:0" label="Puhelin" name="phone"
      content=contactPhone prefix='<i class="fa fa-phone" ></i>'}}
  </div>
</div>

<div class="m-container-box">
  <h4>Hinnoittelu <small>money talks</small></h4>
  <p>
    Hintatiedot eivät ole sitovia, vaan hinta voidaan sopia jokaisen asiakkaan
    kanssa aina erikseen. <b>Mutta</b>, alustavatkin hintatiedot helpottavat
    oleellisesti tapahtumien järjestäjien työtä. Lisäksi monissa
    nettipalveluissa on huomattu, että ne, jotka avoimesti kertovat
    hinnoittelustaan, saavat huomattavasti enemmän kauppoja.
  </p>
  <div class="row collapse">
    {{v-input width=6 cols="6:0:5:1" label="Päivävuokra"
              name="rentPerDay" content=rentPerDay
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-input width=6 cols="6:0:5:1" label="Tuntivuokra"
              name="rentPerHour" content=rentPerHour
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-input width=6 cols="6:0:5:1" label="Vuokra per henkilö"
              name="rentPerPerson" content=rentPerPerson
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-input width=6 cols="6:0:5:1" label="Myyntitakuu"
              name="salesGuarantee" content=salesGuarantee
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-textarea label="Hinnoittelusta tarkemmin"
              name="pricingDetails" content=pricingDetails rows=3}}
  </div>

  <h5>Lisämaksut</h5>

  <div class="row collapse">
    {{v-input width=6 cols="6:0:5:1" label="Varausmaksu"
              name="reservationFee" content=reservationFee
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-input width=6 cols="6:0:5:1" label="Siivousmaksu"
              name="cleaningFee" content=cleaningFee
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-input width=6 cols="6:0:5:1" label="Vakuusmaksu"
              name="securityDeposit" content=securityDeposit
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-textarea label="Peruutusehdot"
              name="cancellationPolicy" content=cancellationPolicy rows=3}}
  </div>
</div>

<div class="m-container-box">
  <h4>Tilan tyyppi <small>under construction</small></h4>
  <p>Valitsenthan vain viisi. :)</p>
  <div class="row collapse">
    <div class="small-12 columns">
      <p>
        Voit tarvittaessa valita useampia, mieluusti kuitenkin korkeintaan
        viisi (5). <b>Huom!</b> Se, että esim. kahvilassa voi pitää kokouksia, ei
        välttämättä tee siitä kokoushuonetta.
      </p>
      {{#if venueTypes.isFulfilled}}
        {{view view.multipleSelect
          max=5
          placeholder="Valitse tilan tyypit (max 5 kpl)"
          notFound="Tyyppiä ei löytynyt haulla"
          content=allVenueTypes
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selection=venueTypes
        }}
      {{/if}}
    </div>
  </div>
</div>

<div class="m-container-box">
  <h4>Palvelut &amp; puitteet <small>under construction</small></h4>
  <div class="row collapse">
    <div class="small-12 columns">
      {{#if venueServices.isFulfilled}}
        {{view view.multipleSelect
          placeholder="Valitse palvelut ja puitteet"
          notFound="I'm sorry Dave, I'm afraid I can't do that"
          contentBinding="allVenueServices"
          optionGroupPath= "category"
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selection=venueServices
        }}
      {{/if}}
    </div>
    {{v-textarea label="Muuta palveluista ja puitteista"
      name="additionalServiceCategoryDescription"
      content=additionalServiceCategoryDescription rows=3}}
  </div>
</div>

<div class="m-container-box">
  <h4>Tapahtumat <small>under construction</small></h4>
  <div class="row collapse">
    <div class="small-12 columns">
      <p>
        Kerro millaisia tapahtumia tilassasi voi järjestää. <b>Huom!</b> Meidän
        mielestä esim. kahvilassa voi hyvin järjestää vaikkapa pienen seminaarin
        ja teollisuushallissa häät.
      </p>
      {{#if eventTypes.isFulfilled}}
        {{view view.multipleSelect
          placeholder="Valitse tapahtumat"
          notFound="Tapahtumaa ei löytynyt haulla"
          content=allEventTypes
          optionValuePath="content.id"
          optionLabelPath="content.name"
          selection=eventTypes
        }}
      {{/if}}
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <button id="save" {{action 'save'}} class="success">Tallenna</button>
    {{#if this.id}}
      <button id="destroy" {{action 'destroy'}}>Poista kohde</button>
    {{/if}}
  </div>
</div>
