<div class="m-container-box">
  <h4>Perustiedot <small>kerro tilastasi</small></h4>
  <div class="row collapse">
    {{v-input label="Tilan nimi" name="title" content=title}}
    {{v-input label="Myyntipuhe" name="pitch" content=pitch}}
    {{v-textarea label="Kuvaus" name="description" content=description rows=5}}
  </div>

  <h5>Yhteystiedot <small>tilaa koskevia yhteydenottoja varten</small></h5>
  <div class="row collapse">
    {{v-input width=7 cols="3:1:8:0" label="Osoite" name="address" content=address prefix='<i class="fa fa-home" ></i>'}}
    {{v-input width=5 cols="5:7" label="Postinumero" name="zipcode"
      content=zipcode}}
    {{v-input width=7 cols="3:1:8:0" label="Email" name="email"
      content=contactEmail prefix='<i class="fa fa-inbox" ></i>'}}
    {{v-input width=5 cols="5:1:6:0" label="Puhelin" name="phone"
      content=contactPhone prefix='<i class="fa fa-phone" ></i>'}}
  </div>
</div>

<div class="m-container-box">
  <h4>Hinnoittelu <small>money talks</small></h4>
  <p>
    Hintatiedot eivät ole sitovia, vaan hinta voidaan sopia jokaisen asiakkaan
    kanssa aina erikseen. <b>Mutta</b>, alustavatkin hintatiedot helpottavat
    oleellisesti tapahtumien järjestäjien työtä. Lisäksi monissa
    nettipalveluissa on huomattu, että ne, jotka avoimesti kertovat
    hinnoittelustaan, saavat huomattavasti enemmän kauppoja.
  </p>
  <div class="row collapse">
    {{v-input width=6 cols="6:0:5:1" label="Päivävuokra"
              name="rentPerDay" content=rentPerDay
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-input width=6 cols="6:0:5:1" label="Tuntivuokra"
              name="rentPerHour" content=rentPerHour
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-input width=6 cols="6:0:5:1" label="Vuokra per henkilö"
              name="rentPerPerson" content=rentPerPerson
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-input width=6 cols="6:0:5:1" label="Myyntitakuu"
              name="salesGuarantee" content=salesGuarantee
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-textarea label="Hinnoittelusta tarkemmin"
              name="pricingDetails" content=pricingDetails rows=3}}
  </div>

  <h5>Lisämaksut</h5>

  <div class="row collapse">
    {{v-input width=6 cols="6:0:5:1" label="Varausmaksu"
              name="reservationFee" content=reservationFee
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-input width=6 cols="6:0:5:1" label="Siivousmaksu"
              name="cleaningFee" content=cleaningFee
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-input width=6 cols="6:0:5:1" label="Vakuusmaksu"
              name="securityDeposit" content=securityDeposit
              postfix='<i class="fa fa-eur" ></i>'}}
    {{v-textarea label="Peruutusehdot"
              name="cancellationPolicy" content=cancellationPolicy rows=3}}
  </div>
</div>

<div class="m-container-box">
  <h4>Tilan tyyppi <small>under construction</small></h4>
  <p>Valitsenthan vain viisi. :)</p>
  <div class="row collapse">
    <div class="small-4 columns">
      {{#each venueTypes}}
        <li>{{this.name}}</li>
      {{/each}}
    </div>
    <div class="small-8 columns">
      {{#each allVenueTypes itemController="venueType"}}
        <li>{{view view.venueTypeCheckbox
        checked=isChecked
        venueTypeBinding="model"
        venueBinding="controllers.venueEdit.model"}}
        {{name}}</li>
      {{/each}}
    </div>
  </div>
</div>

<div class="m-container-box">
  <h4 data-magellan-destination="venue-type">
    Palvelut &amp; puitteet <small>under construction</small>
  </h4>
  <div class="row collapse">
    <div class="small-4 columns">
      Tilan palvelut:
      {{#each venueServices}}
        <li>{{this.name}}</li>
      {{/each}}
    </div>
    <div class="small-8 columns">
      {{#each allVenueServices itemController="venueService"}}
        <li>{{view view.venueServiceCheckbox
        checked=isChecked
        venueServiceBinding="model"
        venueBinding="controllers.venueEdit.model"}}
        {{name}}</li>
      {{/each}}
    </div>
  </div>
</div>

<div class="m-container-box">
  <h4>Tapahtumat <small>under construction</small></h4>
  <div class="row collapse">
    <div class="small-4 columns">
      Tapamahtumatyypit
      {{#each eventTypes}}
        <li>{{this.name}}</li>
      {{/each}}
    </div>
      <div class="small-8 columns">
      {{#each allEventTypes itemController="eventType"}}
        <li>{{view view.eventTypeCheckbox
        checked=isChecked
        eventTypeBinding="model"
        venueBinding="controllers.venueEdit.model"}}
        {{name}}</li>
      {{/each}}
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-12 columns">
    <button id="save" {{action 'save'}} class="success">Tallenna</button>
    {{#if this.id}}
      <button id="destroy" {{action 'destroy'}}>Poista kohde</button>
    {{/if}}
  </div>
</div>
