<div class="edit-form">
{{input value=title id="title"}}

<label for="pitch">Myyntipuhe</label>
{{input value=pitch id="pitch"}}

<label for="description">Kuvaus</label>
{{textarea value=description id="description" rows="6"}}
<br>
  <button id="save-button" {{action 'save'}} class="success">Tallenna</button>
  <button id="destroy-button" {{action 'destroy'}}>Poista tila</button>
</div>