{{outlet}}

<div class="m-container venue-container">
  <h3>{{this.title}}</h3>
  <button id="destroy-venue" {{action 'destroy'}}>Poista tila</button>

  <p class="m-ingress">{{this.pitch}}</p>

  <p>{{this.description}}</p>

  {{link-to 'Muuta tietoja' 'venue.edit' this}}
</div>