{{outlet}}

<h3>{{this.title}}</h3>
<button id="destroy-venue" {{action 'destroy'}}>Poista</button>

<p class="m-ingress">{{this.pitch}}</p>

<p>{{this.description}}</p>


{{link-to 'Muuta tietoja' 'venue.edit' model}}