{{outlet}}

<div class="m-container">
  <h3>{{this.title}}</h3>

  <p class="m-ingress">
    <img {{bind-attr src="this.imageSrc"}}>
    {{this.pitch}}
  </p>

  <p>{{this.description}}</p>

  {{link-to 'Muokkaa tilaa' 'venue.edit' this}}
</div>
