<div class="m-container-box">
  {{v-input labelCol=3 inputCol=9 label="Kohteen nimi" name="name" content=name}}
  {{v-input labelCol=3 inputCol=9 label="Osoite" name="address" content=address}}
  {{v-input labelCol=3 inputCol=9 label="Postinumero" name="zipcode" content=zipcode}}
  {{v-input labelCol=3 inputCol=9 label="Kaupunki" name="city" content=city}}
</div>

<div class="row">
  <div class="medium-12 columns">
    <button id="save" {{action 'save'}} class="success">Tallenna</button>
    {{#if this.id}}
      <button id="destroy" {{action 'destroy'}}>Poista kohde</button>
    {{/if}}
  </div>
</div>
