<label for="name">Nimi</label>
{{input value=name id="name"}}

<label for="address">Osoite</label>
{{input value=address id="address"}}

<label for="city">Postinumero</label>
{{input value=zipcode id="zipcode"}}

<label for="city">Kaupunki</label>
{{input value=city id="city"}}
<br>
<button id="save" {{action 'save'}} class="success">Tallenna</button>