<div class="m-container">
  <h2>P채ivit채 kohteen tiedot</h2>
</div>

<div class="edit-form">
  {{partial "venue_group/form"}}
</div>

<div class="row">
  <div class="medium-8 columns">
    <h3>Kohteen tilat <small>{{this.venues.length}} kpl</small></h3>
    {{#each this.venues}}
      {{#link-to 'venue.edit' this}}
        <div class="m-venue-box">
          <img {{bind-attr src="this.imageSrc"}} width="60" height="60">
          <h6>{{this.title}}</h6>
          <small>{{this.pitch}}</small>
          <p>Viimeksi muokattu tuntematon</p>
        </div>
      {{/link-to}}
    {{/each}}
    {{#link-to 'venue_group.new_venue' this id="addVenue" class="button success"}}Lis채채 tila{{/link-to}}
  </div>
</div>
