<div class="m-container">
  <h2>P채ivit채 kohteen tiedot</h2>
</div>

<div class="edit-form m-container-box">
  <div class="row">
    {{partial "venue_group/form"}}

    <div class="medium-12 columns">
      <button id="save" {{action 'save'}} class="success">Tallenna</button>
      <button id="destroy" {{action 'destroy'}}>Poista kohde</button>
    </div>
  </div>
</div>

<div class="row">
  <div class="medium-8 columns">
    <h3>Kohteen tilat <small>{{this.venues.length}} kpl</small></h3>
    {{#each this.venues}}
      {{v-venue-box venue=this}}
    {{/each}}
    {{#link-to 'venue_group.new_venue' this id="addVenue" class="button success"}}Lis채채 tila{{/link-to}}
  </div>
</div>
