{{outlet}}

<div class="m-container">
  <h3>{{this.name}}</h3>
  <p>{{address this}}</p>
  <h3>Tilat <small>{{this.venues.length}} kpl</small></h3>
    {{#each this.venues}}
      {{#link-to 'venue' this}}
        <div class="m-venue-box">
          <img {{bind-attr src="this.imageSrc"}} width="100" height="100">
          <h5>{{this.title}}</h5>
          <p>{{this.description}}
          <br>
          Päivävuokra: {{this.rentPerDay}} €</p>
        </div>
      {{/link-to}}
    {{/each}}
    {{link-to 'Muokkaa kohdetta' 'venue_group.edit' model}}
</div>
