{{partial "layout/navbar"}}
<div class="m-container">
  <div class="row">{{partial "layout/dashboard_navbar"}}</div>
  <div class="row">
    <div class="medium-4 column">
      {{outlet sidebar}}
    </div>
    <div class="medium-8 column">
      {{outlet content}}
    </div>
  </div>
</div>
{{partial "layout/footer"}}
