{{outlet}}

<h3>{{this.name}}</h3>
<p>{{this.city}}</p>
<p>{{this.address}}</p>
<ul>
  {{#each this.venues}}
    <li>{{#link-to 'venue' this}}{{this.title}}{{/link-to}}</li>
  {{/each}}
</ul>
{{link-to 'Muuta kohteen tietoja' 'venue_group.edit' model}}