<div class="row l-section-spacing">
  <div class="medium-4 column">
    <div class="m-container-box-compact">
      <h4>Kohteet</h4>

      <ul class="no-bullet venue-group-venues">
        {{#each model}}
          {{#if this.id}}
            <li>{{#link-to 'venue_group' this}}{{this.name}}{{/link-to}}</li>
          {{else}}
            <li class="disabled">{{this.title}}</li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="medium-8 column">
    <button id="new-venue" class="success" {{action 'create'}}>Luo uusi kohde</button>
    {{outlet}}
  </div>
</div>
