<div class="row l-section-spacing">
  <div class="medium-4 column">
    <div class="m-container-box-compact">
      <h4>Tilasi</h4>
      <button id="new-venue" class="success" {{action 'create'}}>Luo uusi tila</button>

      <ul class="no-bullet">
        {{#each model}}
          {{#if this.id}}
            <li>{{#link-to 'venue' this}}{{this.title}}{{/link-to}}</li>
          {{else}}
            <li class="disabled">{{this.title}}</li>
          {{/if}}
        {{/each}}
      </ul>
    </div>
  </div>
  <div class="medium-8 column">
    <div class="m-container">
      {{outlet}}
    </div>
  </div>
</div>